name: ci

on:
 - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    # setup environment
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v2.3.0
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: "Install Tools"
      run: |
        flutter config --no-enable-android --no-enable-ios --no-enable-macos-desktop
        sudo npm i -g firebase-tools
    - name: "Firebase Emulator Cache"
      uses: actions/cache@v2
      with:
        path: ~/.cache/firebase/emulators
        key: firebase-emulators-v1-${{ github.run_id }}
        restore-keys: firebase-emulators-v1
    - name: "Start Firebase Emulator"
      run: cd ./.github/workflows/scripts && ./start-firebase-emulator.sh
    - name: "Run application"
      working-directory: tests
      run: |
        chromedriver --port=4444 &
        flutter drive --verbose-system-logs --device-id=web-server --target=./test_driver/driver_e2e.dart --dart-define=CI=true