name: snippets test

on:
- pull_request
- push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v2.3.0
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
    - run: npm install -g firebase-tools
    - run: firebase emulators:exec \"cd apps/firestore_snippets && flutter run\"