name: flutter

on:
- pull_request
- push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: 'Run tests'
      uses: subosito/flutter-action@v2.3.0
      with:
        channel: 'stable'
    - run: make test
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: 'Build app'
      uses: subsito/flutter-action@v2.3.0
      with:
        channel: 'stable'
    - run: make build
      # todo: install firebase and run emulator
