name: tests

on:
- pull_request
- push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v2.3.0
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '11'
    - name: "Install Tools"
      run: |
        flutter config --no-enable-web --no-enable-ios --no-enable-macos-desktop
        sudo npm i -g firebase-tools
    - name: "Firebase Emulator Cache"
      uses: actions/cache@v2
      with:
        path: ~/.cache/firebase/emulators
        key: firebase-emulators-v1-${{ github.run_id }}
        restore-keys: firebase-emulators-v1
    - name: "run chmod"
      run: --chmod +x .github/workflows/scripts/run-ci.sh
    - name: "Run application"
      shell: bash
      run: |
        echo "git update-index --chmod +x .github/workflows/scripts/run-ci.sh"
        sudo chmod=+x "${GITHUB_WORKSPACE}/.github/workflows/scripts/run-ci.sh"
        sudo bash "${GITHUB_WORKSPACE}/.github/workflows/scripts/run-ci.sh"


#- name: "Start Firebase Emulator"
#      run: firebase emulators:start --only firestore
#      working-directory: apps/firestore_snippets
#    - name: "Run application"
#      uses: reactivecircus/android-emulator-runner@v2.21.0
#      with:
#        api-level: 30
#        arch: x86_64
#        target: google_apis
#        profile: Nexus 5X
#        working-directory: tests
#        script: |
#          sleep 15
#          flutter run --dart-define=CI=true

