name: tests

on:
- pull_request
- push

jobs:
  android:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
#
#    - name: "Setup Actions"
#      uses: actions/checkout@v2
#
#    - name: "Install Node"
#      uses: actions/setup-node@v2
#      with:
#        node-version: '16'
#
#    - uses: actions/setup-java@v2
#      name: "Install Java"
#      with:
#        distribution: 'temurin'
#        java-version: '11'
#
#    - name: "Install Flutter"
#      run: |
#        sh .github/workflows/scripts/install-flutter.sh stable
#
#    - name: "Install Tools"
#      run: |
#        sh ./.github/workflows/scripts/install-tools.sh
#        flutter config --no-enable-web --no-enable-ios --no-enable-macos-desktop
#        sudo npm i -g firebase-tools
#
#    - name: "Build Example"
#      run: |
#        sh ./.github/workflows/scripts/build-apps.sh android
#
#
#    - name: "Start Firebase Emulator"
#      run: |
#        cd ./.github/workflows/scripts && sh ./start-firebase-emulator.sh

    - name: "Run integration tests on Emulator"
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 28
        arch: x86_64
        # Firebase Firestore works without Google Play Services, so we don't use the `googleapis`
        # emulator target as it's considerably slower on CI.
        target: default
        profile: Nexus 5X
        script: |
          cd ../
          echo pwd
          sh ./.github/workflows/scripts/run-ci.sh android
